%nav.navbar.navbar-inverse
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to "Yelp Clone", root_path, class: ("navbar-brand")
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Categories
            %span.caret
          %ul.dropdown-menu
            - all_categories.each do |category|
              %li
                %a{:href => category_path(category)}= category.name
            %li{:role => "separator", :class => "divider"}
            %li
              = link_to "New Category", new_category_path
        %li
          %a{:href => "#"} Recent Reviews
        %li
          = link_to "New Business", new_business_path
      %ul.nav.navbar-nav.navbar-right
        - if logged_in?
          %li
            = link_to current_user.email, user_path(current_user)
          %li
            = link_to "Sign out", sign_out_path
        - else
          %li
            = link_to "Sign Up", sign_up_path
          %li
            = link_to "Sign In", sign_in_path
